<html>

<head>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <!-- AngularJS -->
    <script type="text/javascript" src="node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="node_modules/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="node_modules/font-awesome/css/font-awesome.css"></script>

    <script type="text/javascript" src="dist/myComponents.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<style>
    body {
        padding: 100px;
    }
</style>
<body ng-app="myComponents">
<script>
    angular.module("myComponents").controller("examples", function () {
        var vm = this;

        vm.exampleText = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dol";

        vm.date = new Date();

        vm.FirstName = "kevin";

        vm.filterText = "";

        vm.add= function () {
          alert('Add Clicked');
        };

        vm.edit= function () {
            alert('Edit Clicked');
        };
    });

</script>
<div ng-controller="examples as vm">


    <my-panel title="Filter Textbox">
        {{vm.filterText}}
        <my-filter-textbox ng-model="vm.filterText"></my-filter-textbox>
    </my-panel>


    <my-panel title="Text Field" icon="user"
              icon-size="2"
              style="success"
              small-heading="true">

        <my-text-field field-label="First Name"
                       tool-tip="Some Help Text"
                       ng-model="vm.FirstName"></my-text-field>
    </my-panel>


    <h1> Panels </h1>


    <my-panel title="Text Field" icon="user"
              icon-size="2"
              show-edit-button="true"
              edit="vm.edit()"
              add="vm.add()"
              show-add-button="true"
              style="success">
        Normal Panel with Icon
    </my-panel>

    <my-panel title="Text Field" icon="user"
              icon-size="2"
              style="success"
              small-heading="true">
        Panel with tight heading with Icon
    </my-panel>

    <my-panel title="Text Field"
              style="success"
              small-heading="true">
        Panel with tight heading and no Icon
    </my-panel>


    <my-panel title="Text Field"
              style="success"
              show-edit-button="true"
              show-add-button="true"
              small-heading="true">
        Panel with tight heading and no Icon
    </my-panel>
</div>

</body>

</html>