<h1> Fields </h1>
<hr>

<h5>Display Field</h5>
<my-display-field field-label="First Name" field-name="FirstName" ng-model="vm.firstName"></my-display-field>
<my-display-textarea  field-label="Description" field-name="Description" ng-model="vm.sampleText"></my-display-textarea>

<hr>

<h5>Text Field</h5>
<my-text-field field-label="First Name" field-name="FirstName" ng-model="vm.firstName"></my-text-field>
<my-textarea-field field-label="First Name" field-name="FirstName" ng-model="vm.sampleText"></my-textarea-field>